{% extends 'base-back.html.twig' %}

{% block title %}Page d'accueil | Infantia{% endblock %}

{% block body %}
    <section class="dashboard">
        <h1>Infos du jour</h1>
        <div class="box-container">
            <div class="child-box">
                <div class="text">
                    <div class="num">{{ countChildPresence }}</div>
                    <div class="label">enfants présents</div>                 
                </div>
            </div>
            <div class="educ-box">
                <div class="text">
                    <div class="num">2</div>
                    <div class="label">éducateurs présents</div> 
                </div>             
            </div>
        </div>
        <div class="allergy-box">
            <p class="title">Régimes spéciaux</p>
            <span>{{childAllergy}}</span>
        </div>
        <div class="birthday">
            <p>Anniversaires :</p>
            <span>{{childBirthday}}</span>
        </div>
        <div class="dash-program">
        {% if programPapillons is not empty %}
            <h2>Programme {{ programPapillons[0].team.name }} :</h2>

            {% set matinAffiche = false %}
            {% set apresmidiAffiche = false %}

            <ul>
            {% for activity in programPapillons %}
                {% set heure = activity.startingHour|date('H:i') %}
                
                {% if heure < '12:00' %}
                    {% if not matinAffiche %}
                        <h3>Matin</h3>
                        {% set matinAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% else %}
                    {% if not apresmidiAffiche %}
                        <h3>Après-midi</h3>
                        {% set apresmidiAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <h3>Aucun programme pour l'équipe des Papillons</h3>
        {% endif %}
        </div>

        <div class="dash-program">
        {% if programOursons is not empty %}
            <h2>Programme {{ programOursons[0].team.name }} :</h2>

            {% set matinAffiche = false %}
            {% set apresmidiAffiche = false %}

            <ul>
            {% for activity in programOursons %}
                {% set heure = activity.startingHour|date('H:i') %}
                
                {% if heure < '12:00' %}
                    {% if not matinAffiche %}
                        <h3>Matin</h3>
                        {% set matinAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% else %}
                    {% if not apresmidiAffiche %}
                        <h3>Après-midi</h3>
                        {% set apresmidiAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <h3>Aucun programme pour l'équipe des Oursons</h3>
        {% endif %}
        </div>

        <div class="dash-program">
        {% if programCastors is not empty %}
            <h2>Programme {{ programCastors[0].team.name }} :</h2>

            {% set matinAffiche = false %}
            {% set apresmidiAffiche = false %}

            <ul>
            {% for activity in programCastors %}
                {% set heure = activity.startingHour|date('H:i') %}
                
                {% if heure < '12:00' %}
                    {% if not matinAffiche %}
                        <h3>Matin</h3>
                        {% set matinAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% else %}
                    {% if not apresmidiAffiche %}
                        <h3>Après-midi</h3>
                        {% set apresmidiAffiche = true %}
                    {% endif %}
                    <li>{{ heure }} - {{ activity.endingHour|date('H:i') }} : {{ activity.activity.name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <h3>Aucun programme pour l'équipe des Castors</h3>
        {% endif %}
        </div>
        <h1>Infos générales</h1>
        <div class="general-infos">
            <p>Nombre d'enfants inscrits : {{totalChildren}}</p>        
        </div>
    </section>
{% endblock %}
