{% extends 'base-back.html.twig' %}

{% block title %}Page CRUD Personne de confiance  | Infantia{% endblock %}

{% block body %}
    <h1>TrustedPerson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress</th>
                <th>Postal_code</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trusted_person in trusted_people %}
            <tr>
                <td>{{ trusted_person.id }}</td>
                <td>{{ trusted_person.firstName }}</td>
                <td>{{ trusted_person.lastName }}</td>
                <td>{{ trusted_person.adress }}</td>
                <td>{{ trusted_person.postalCode }}</td>
                <td>{{ trusted_person.city }}</td>
                <td>
                    <a href="{{ path('app_trusted_person_crud_show', {'id': trusted_person.id}) }}">Voir</a>
                    <a href="{{ path('app_trusted_person_crud_edit', {'id': trusted_person.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trusted_person_crud_new') }}">Ajouter</a>
{% endblock %}
