<!DOCTYPE html>

<title>ChildPresence</title>

{% block body %}
    <h1>ChildPresence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ child_presence.id }}</td>
            </tr>
            <tr>
                <th>Entrance_hour</th>
                <td>{{ child_presence.entranceHour ? child_presence.entranceHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Exit_hour</th>
                <td>{{ child_presence.exitHour ? child_presence.exitHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_present</th>
                <td>{{ child_presence.isPresent ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_child_presence_crud_index') }}">back to list</a>

    <a href="{{ path('app_child_presence_crud_edit', {'id': child_presence.id}) }}">edit</a>

    {{ include('child_presence_crud/_delete_form.html.twig') }}
{% endblock %}
