{% extends 'base-back.html.twig' %}

{% block title %}Page CRUD Allergie | Infantia{% endblock %}

{% block body %}
    <h1>Allergy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergy in allergies %}
            <tr>
                <td>{{ allergy.id }}</td>
                <td>{{ allergy.name }}</td>
                <td>
                    <a href="{{ path('app_allergy_crud_show', {'id': allergy.id}) }}">Voir</a>
                    <a href="{{ path('app_allergy_crud_edit', {'id': allergy.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_allergy_crud_new') }}">Ajouter</a>
{% endblock %}
