{% extends 'base-back.html.twig' %}

{% block title %}Page CRUD Allergie | Infantia{% endblock %}

{% block body %}
    <h1>Allergie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ allergy.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ allergy.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_allergy_crud_index') }}">Retour</a>

    <a href="{{ path('app_allergy_crud_edit', {'id': allergy.id}) }}">Modifier</a>

    {{ include('allergy_crud/_delete_form.html.twig') }}
{% endblock %}
